* {
	margin: 0;
	padding: 0;
	}
	
body {
	background: #000;
	font-family: "lucida grande", tahoma, sans-serif;
	font-size: 16px;
	}
	
.drop {
	background: #2beeff;
	border-radius: 5px;
	font-size: 0.1em;
	line-height: 0.1em;
	position: absolute;
	}

#bucket {
	height: auto;
	position: absolute;
	}
	
.dashboard {
	background: rgba(30,30,30,0.2);
	border-radius: 5px;
	color: #000;
	font-size: 16px;
	height: 3.8em;
	padding: 15px 15px 0 15px;
	position: absolute;
	top: 20px;
	width: 30%;
	}
.dashboard p {
	clear: both;
	float: left;
	line-height: 1.4em;
	width: 100%;
	}
.dashboard span.key {
	clear: none;
	float: left;
	font-weight: bold;
	width: 50%;
	}
.dashboard span.val {
	clear: none;
	float: left;
	width: auto;
	}
.dashboard .alert {
	color: #d00;	
	}
	
#dash {
	right: 20px;
	}
#timer {
	left: 20px;
	width: 14%;
	}
#timer p {
	font-size: 2em;
	text-align: center;
	width: 100%;
	}
#timer p span {
	clear: none;
	display: inline;
	float: none;
}
	
#star {
	height: auto;
	position: absolute;
	/*visibility: hidden;*/
	z-index: 5;
	}
	
#stage {
	background-image: url('../img/bg.jpg');
	background-position: center top;
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	float: left;
	overflow: hidden;
	position:relative;
	width: 100%;	
	}