* {
	margin: 0;
	padding: 0;
	}
	
body {
	background: #000;
	font-family: "lucida grande", tahoma, sans-serif;
	font-size: 16px;
	}
	
.drop {
	background: #2beeff;
	border-radius: 5px;
	font-size: 0.1em;
	line-height: 0.1em;
	position: absolute;
	}

#bucket {
	height: auto;
	position: absolute;
	}
	
#dashboard {
	background: rgba(30,30,30,0.2);
	color: #000;
	font-size: 16px;
	margin: 20px 0 0 20px;
	padding: 15px;
	position: absolute;
	width: 40%;
	}
#dashboard p {
	clear: both;
	float: left;
	line-height: 1.4em;
	width: 100%;
	}
#dashboard span.key {
	clear: none;
	float: left;
	font-weight: bold;
	width: 40%;
	}
#dashboard span.val {
	clear: none;
	float: left;
	width: auto;
	}
	
#star {
	height: auto;
	position: absolute;
	/*visibility: hidden;*/
	z-index: 5;
	}
	
#stage {
	background-image: url('../img/bg.jpg');
	background-position: center top;
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	float: left;
	overflow: hidden;
	position:relative;
	width: 100%;	
	}